<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>BB-8</title>
    <link rel="stylesheet" href="/static/index/style.css">
    <link rel="shortcut icon" href="https://img.icons8.com/cute-clipart/64/000000/news.png" type="image/x-icon">
</head>
<body>
<div class="bgimg">
  <div class="topleft">
      <img src="https://img.icons8.com/cute-clipart/64/000000/news.png">
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
    <p id="demo" style="font-size:30px"></p>
  </div>
  <div class="bottomleft">
    <p>BB-8 the next big thing in news delivery </p>
  </div>
</div>
<script src="/static/index/index.js" type="application/javascript"></script>

</body>
</html>